/* Figma section styles */

.pn-figma {
  margin-top: 90px;
}

.pn-figma__picture {
  margin: 0 60px;
}

.pn-figma__title-wrp {
  margin: 0 0 10px;
}

.pn-figma__title {
  font-size: 2.25rem;
}

.pn-figma__description {
  max-width: 450px;
  font-size: 15px;
}

.pn-figma__info {
  max-width: 450px;
}
